
* {
  color: #0B1942;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
}

h1 {
  font-size: 38px;
}


h2 {
  font-size: 28px;
}

#home {
  background-color: #00A5BF;
}

#calendar_nav {
  background-color: #00B7D3;
}

#join {
  background-color: #00D5E7;
}


header {
  height: 6em;
  background-color: rgba(125,	223,	232, .9);
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 10;
}

nav {
  display: flex;
  align-content: center;
  height: 6em;
}

#icon {
  width: 6em;
  background-color: #F5005B;
  padding: .5em;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

nav a {
  width: 6em;
  line-height: 6em;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

span {
  color: white;
}


footer {
  height: 6em;
  background-color: #7DDFE8;
  width: 100%;
}

footer nav {
  float: left;
}

#copyright {
  float: right;
  line-height: 6em;
  padding-right: 2em;
}

 @media screen and (max-device-width: 544px) {

   #copyright {
     float: none;
     background-color: #7DDFE8;
     line-height: 60px;
     padding-right: 0;
   }

  header {
    background-color: white;
    display: flex;
  }

  #icon {
    width: 6em;
    height: 105px;
  }

  nav {
     flex-direction: column;
     flex: 3;
  }

  nav a {
    height: 35px;
    width: auto;
    line-height: 35px;
  }

  footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #7DDFE8;
    height: auto;
  }

  footer a {
    height: 35px;
  }

  footer nav {
    float:none;
  }

}
